<!DOCTYPE html>

<html>
  <head>

   <title>ElderlyMedical</title>
    <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />

	  <link rel="stylesheet" href="../static/style.css" />
    
	  <script src="/script.js" defer></script>

  </head>
  <body>
    <script src="script.js"></script>
    <td id="logo">ElderlyMedical</td>
   <nav>
     <img src="static/img/older_people.png"" width= 100px; style = "float: left"/>
     <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/appointments">Appointments</a></li>
        <li><a href="/reminders">Reminders</a></li>
        <li><a href="/diagnosis">Diagnosis</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
     </ul>
   </nav>

   <img class= "mainimg" src="static/img/why-us.png" width="800" height="600" style = "float: right"/>
   <div class="container">
     <span class="text1">Welcome To</span>
     <span class="text2">ElderlyMedical</span>
   </div>
  
   <div id="about">
     <h1>- ABOUT -</h1>
     <p>
       ElderlyMedical help older people to set their remainder,book the appoinments and many more things 
     </p>
   </div>
   
   <footer>
     <p>
       © ElderlyMedical 
      </p>
   </footer>
  </body>
</html>